version: '2'
services:
  webserver:
    build:
      context: .
      args:
        http_proxy: $HTTP_PROXY
        HTTP_PROXY: $HTTP_PROXY
    environment:
      INSTANCE_TOTAL_MEM: $INSTANCE_TOTAL_MEM
      INSTANCE_TOTAL_CORES: $INSTANCE_TOTAL_CORES
      ROLLBAR_ACCESS_TOKEN: $ROLLBAR_ACCESS_TOKEN
      BUILD_PROXY: $HTTP_PROXY
      MONGO_URL: $MONGO_URL
      RAILS_ENV: $RAILS_ENV
      RACK_ENV: $RAILS_ENV
      CERT_KEY_SECRET: $CERT_KEY_SECRET
      ENV_KEY_SECRET: $ENV_KEY_SECRET
      POSTGRES_PASS: $POSTGRES_PASS
      POSTGRES_PORT: $POSTGRES_PORT
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_USERNAME: $POSTGRES_USERNAME
      WEB_CONCURRENCY: 2
      SECRET_KEY_BASE: $SECRET_KEY_BASE
      SECRET_KEY_TOKEN: $SECRET_KEY_TOKEN
      GSG_KEY_SECRET: $GSG_KEY_SECRET
      REPO_KEY_SECRET: $REPO_KEY_SECRET
      GITHUB_KEY: $GITHUB_KEY
      GITHUB_SECRET: $GITHUB_SECRET
      REDIS_URL: $REDIS_URL
      REDIS_PROVIDER: $REDIS_PROVIDER
      BITBUCKET_APP_TOKEN: $BITBUCKET_APP_TOKEN
      BITBUCKET_APP_SECRET: $BITBUCKET_APP_SECRET
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      DEVISE_SECRET_KEY: $DEVISE_SECRET_KEY

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    links:
      - webserver

  sidekiqworker:
    build:
      dockerfile: Dockerfile.worker
      context: .
    environment:
      BUILD_PROXY: $HTTP_PROXY
      INSTANCE_TOTAL_MEM: $INSTANCE_TOTAL_MEM
      INSTANCE_TOTAL_CORES: $INSTANCE_TOTAL_CORES
      ROLLBAR_ACCESS_TOKEN: $ROLLBAR_ACCESS_TOKEN
      MONGO_URL: $MONGO_URL
      RAILS_ENV: $RAILS_ENV
      RACK_ENV: $RAILS_ENV
      ENV_KEY_SECRET: $ENV_KEY_SECRET
      CERT_KEY_SECRET: $CERT_KEY_SECRET
      POSTGRES_PASS: $POSTGRES_PASS
      POSTGRES_PORT: $POSTGRES_PORT
      POSTGRES_HOST: $POSTGRES_HOST
      POSTGRES_USERNAME: $POSTGRES_USERNAME
      GSG_KEY_SECRET: $GSG_KEY_SECRET
      REPO_KEY_SECRET: $REPO_KEY_SECRET
      REDIS_URL: $REDIS_URL
      REDIS_PROVIDER: $REDIS_PROVIDER
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      DEVISE_SECRET_KEY: $DEVISE_SECRET_KEY
