@import url(https://fonts.googleapis.com/css?family=PT+Mono);


$primary-heading: #1499D3;
$primary-accent-body: #4DA6CC;
$lighter-body: #CAC9C8;
$light-line: #EFEFEF;
$primary-body: #838282;
$primary-background: #FFFFFF;

$menu-color: #116D8A;
$menu-border: #20657F;

$background:  #FFFFFF;
$dark-color: #3D3D3D;
$accent-one: #E74700;
$accent-two: #83AA30;


$font-stack:  "Proxima Nova Regular";
$font-stack-heading: "Fjalla One","Open Sans", sans-serif;

$button-color :#3299C4;

$heavier-body: #8C8D8D;


$starting:  #F1D469;
$terminated: #F67272;
$running: #38B7AC;
$starting:#da751b;

$terminal-font: "PT Mono";
